---
---

<footer class="text-center bg-[#1b1b1b] my-5">
  <div class="container pt-5 flex justify-center">
    <div class="flex justify-center mb-5">
      <a href=" https://twitter.com/jay_bhogayata" class="mr-5 text-gray-200">
        <i class="fa-brands fa-twitter fa-2x"></i>
      </a>

      <a
        href="https://www.instagram.com/bhogayata_jay07/
          "
        class="mr-5 text-gray-200"
      >
        <i class="fa-brands fa-instagram fa-2x"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/jay-bhogayata-b553a2221/"
        class="mr-5 text-gray-200"
      >
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>

      <a href="https://github.com/jay-bhogayata" class="mr-5 text-gray-200">
        <i class="fa-brands fa-github-square fa-2x"></i>
      </a>
      <a href="https://blog.codewithjay.co.in/" class="mr-5 text-gray-200">
        <i class="fa-brands fa-hashnode fa-2x"></i>
      </a>
    </div>
  </div>
  <div
    class="text-gray-50/90 text-center pt-0.5 font-light flex items-center justify-center"
  >
    &copy; 2022 All rights reserved | Jay Bhogayata
  </div>
</footer>
